.searchComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* width: 70%; */
    /* padding: 16px; */
    /* margin-bottom: 80px; */
}

.searchInput {
    width: 100%;
    padding: 12px;
    color: #000;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.listItem {
    display: flex;
    align-items: center;
    /* gap: 8px; */
    padding: 12px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.list-item:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

