.formContainer {
    width: 70%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    .formContainer {
        width: 100%;
    }
    .formContainer_edit {
        
        padding: 30px 5px!important;
    }
}

.error_msg {
    color: red;
}

.formContainer_edit {
    width: 100%;
    margin: auto;
    padding: 30px;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.column {
    flex-basis: 50%;
    padding: 5px;
}

.addItemHeader {
    font-size: 1.2em;
    font-weight: 400;
}

.formContainer input,
.formContainer_edit input {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: 300;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formContainer button[type="submit"],
.closeBtn,
.formContainer_edit button[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: 20px;
}

.formContainer button[type="submit"]:hover,
.closeBtn:hover,
.formContainer_edit button[type="submit"]:hover {
    color: #00ff77;
    transform: scale(1.03);
}

.box {
    position: relative;
}

.placeholderTXT {
    position: absolute;
    margin-top: -0.8em;
    top: 50%;
    right: 2em;
}

@media (max-width: 768px) {
    .placeholderTXT {
        right: 1em;
    }
}

.pills {
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 35px;
    width: 120px;
    padding: 10px 10px;
    margin: 5px;
    text-transform: capitalize;
    transition: transform 0.2s;
    cursor: pointer;
}

.pills:hover {
    color: #fff;
    background-color: #000000;
    transform: scale(1.03);
}

.selected {
    color: #fff;
    background-color: #000000;
}

.searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.listItem:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.listIcon {
    color: red;
    font-size: 20px;
}
.listIcon2 {
    color: #000;
    font-size: 20px;
}

.iconBox {
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.contextBox {
    width: 60%;
}
.contextBox h2 {
    font-size: 1.2rem;
    font-weight: 600;
}
.contextBox p {
    font-size: 0.9rem;
}
.imgBox {
    background-color: #f0efef;
    width: 120px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.itemIMG {
    max-width: 90%;
    max-height: 90%;
}

@media (max-width: 768px) {
    .imgBox {
        width: 100px;
        height: 90px;
        margin: 10px;
    }
    .itemIMG {
        max-width: 70%;
        max-height: 70%;
    }
    .listItem {
        padding: 10px;
    }
    .searchDemo {
        width: 100% !important;
    }
}

.searchDemo {
    width: 70%;
}

.searchBtn {
    width: 100%;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.searchIcon {
    font-size: 25px;
    margin-right: 20px;
}

.searchHeading {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.searchDesc {
    font-size: 16px;
    margin-top: 20px;
    color: #b4b4b4;
}

.addBtn {
    text-decoration: none;
    padding: 0px 30px;
    height: 50px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s;
}

.addBtn:hover {
    color: #00ff77;
    transform: scale(1.03);
}

.icon-add {
    font-size: 25px;
    margin-right: 10px;
}

.step2-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.btnDiv {
    display: flex;
    gap: 10px;
}

.item-list {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.item_selected {
    width: 70%;
    margin-bottom: 100px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .item-list {
        width: 100%;
        align-items: center;
    }
    .item_selected {
        width: 100% !important;
    }
}
