* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

p {
    margin-bottom: 0px !important;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.list li {
    width: 70%;
    color: #000;
}

@media (max-width: 768px) {
  .list li {
    width: 100%;
}

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

.payment_container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment_container .payment-form {
    width: 600px;
}

.p-FieldLabel {
    color: #000;
}

.payment_container button, .web-btn {
    margin-top: 25px;
    padding: 12px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}
.payment_container button:hover, .web-btn:hover {
    color: #00ff77;
    transform: scale(1.03);
}

.checkout {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
